// File: nextflow.config

/*
========================================================================================
    Default Pipeline Parameters
========================================================================================
*/
params {
    // Input/Output
    input_csvs   = "${projectDir}/../inputs/*.csv"
    output_dir   = 'outputs'
    chain        = ''
    reference    = false

    // Preprocessing
    conf         = 0.88

    // Assembly
    assembly_mode = 'greedy'
    kmer_size    = 6
    min_overlap  = 4
    size_threshold = 10

    // Mapping (Reference)
    min_identity   = 0.8
    max_mismatches = 14
}

/*
========================================================================================
    Process Execution Configuration
========================================================================================

*/
process {
    executor = 'local'  // Run on the local machine
    cpus     = 4        // Request 4 CPUs for each process
    memory   = '8 GB'   // Request 8 GB of RAM for each process
    time     = '2h'     // Time limit of 2 hours for each process
}

/*
========================================================================================
    Environment Management (Conda)
========================================================================================
*/
docker.enabled = false // Disable Docker
conda.enabled  = true  // Enable Conda

// '${projectDir}' is a Nextflow variable that points to the folder
// where 'main.nf' is located. It is more robust than '../'.
// Make sure 'environment.osx-arm64.yaml' is in
// the same folder as 'main.nf'.
conda.file = "${projectDir}/../environment.osx-arm64.yaml"


/*
========================================================================================
    Execution Reports
========================================================================================

*/
timeline {
    enabled   = true
    file      = "${params.output_dir}/pipeline_info/timeline.html"
    overwrite = true
}
report {
    enabled   = true
    file      = "${params.output_dir}/pipeline_info/report.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${params.output_dir}/pipeline_info/trace.txt"
    overwrite = true
}

/*
========================================================================================
    Profiles
========================================================================================
*/
profiles {

    // Profile to run your specific "bsa reference_free" analysis
    bsa_ref_free {
        // Overrides the default parameters
        params.input_csvs = "${projectDir}/../inputs/bsa.csv"
        params.reference  = false // This implements your 'mode = "reference_free"'
        params.chain      = ''
    }

    // A test profile that uses BSA dataset
    test {
        params.input_csvs = "${projectDir}/../inputs/test_data.csv"
        params.output_dir = 'test_outputs'
    }

    // add further parameters
    // heavy_chain_ref {
    //    params.input_csvs = "${projectDir}/inputs/heavy_chain_data.csv"
    //    params.reference  = true
    //    params.chain      = 'heavy'
    // }
}